$grid-breakpoints-lg: 1280px;
$grid-breakpoints-md: 768px;
$breakpoints-full-hd: 1980px;
$primary-color: #3369F3;
$error-color: #FF2F2F;
$text-color: #1E1E1E;
$secondary-color: #EFEFEF;
$accent-color: #999999;