{{!< auth}}

<section class="error-page">
  <h1 class="error-page__code">
    500
  </h1>
  <p class="error-page__message">
    Не туда попали
  </p>
  {{> "btn/btn" type="button" text="Назад к чатам" }}
</section>
