{{!< auth}}

<section class="error-page">
  <div class="error-page__code">
    500
  </div>
  <div class="error-page__message">
    Мы уже фиксим
  </div>
  {{> "btn/btn" type="button" text="Назад к чатам" }}
</section>