{{!< default}}

<section class="profile">
  {{> "avatar/avatar" src="../asserts/images/union.svg" alt="Фото профиля"}}
  <form class="profile__card">
    <ul class="profile-list">
      <li class="profile-list__item">
        <span>Почта</span>
        {{> "text-field/text-field" type="email" placeholder="Почта" label="Почта" name="email" error="" value="pochta@yandex.ru"}}
      </li>
      <li class="profile-list__item">
        <span>Логин</span>
         {{> "text-field/text-field" type="text" placeholder="Логин" label="Логин" name="login" error="" value="ivanivanov"}}
      </li>
      <li class="profile-list__item">
        <span>Имя</span>
         {{> "text-field/text-field" type="text" placeholder="Имя" label="Имя" name="name" error="" value="Иван"}}
      </li>
      <li class="profile-list__item">
        <span>Фамилия</span>
        {{> "text-field/text-field" type="text" placeholder="Фамилия" label="Фамилия" name="second_name" error="" value="Иванов"}}
      </li>
      <li class="profile-list__item">
        <span>Имя в чате</span>
        {{> "text-field/text-field" type="text" placeholder="Имя в чате" label="Имя в чате" name="display_name" error="" value="Иван"}}
      </li>
      <li class="profile-list__item">
        <span>Телефон</span>
        {{> "text-field/text-field" type="tel" placeholder="Телефон" label="Телефон" name="phone" error="" value="+7 (909) 967 30 30"}}
      </li>
    </ul>
  </form>
  <div class="profile__action save">
    {{> "btn/btn" type="button" text="Сохранить" class="primary" }}
  </div>
</section>
