{{!< default}}

<section class="profile">
  {{> "avatar/avatar" src="../asserts/images/union.svg" alt="Фото профиля"}}
  <form class="profile__card">
    <ul class="profile-list">
      <li class="profile-list__item">
        <span>Старый пароль</span>
        {{> "text-field/text-field" type="password" placeholder="Старый пароль" label="Старый пароль" name="oldPassword" error="" value="qwerty"}}
      </li>
      <li class="profile-list__item">
        <span>Новый пароль</span>
        {{> "text-field/text-field" type="password" placeholder="Новый пароль" label="Новый пароль" name="newPassword" error="" value="qwerty"}}
      </li>
      <li class="profile-list__item">
        <span>Повторите новый пароль</span>
        {{> "text-field/text-field" type="password" placeholder="Повторите новый пароль" label="Повторите новый пароль" name="confirmNewPassword" error="" value="qwerty"}}
      </li>
    </ul>
  </form>
  <div class="profile__action save">
    {{> "btn/btn" type="button" text="Сохранить" class="primary" }}
  </div>
</section>
