
<ul>
    <li>
        <a href="./login.hbs">Login page</a>
    </li>
    <li>
        <a href="./registration.hbs">Registration page</a>
    </li>
    <li>
        <a href="./profile.hbs">Profile page</a>
    </li>
    <li>
        <a href="./changeProfile.hbs">Change profile</a>
    </li>
    <li>
        <a href="./changePassword.hbs">Change password</a>
    </li>
    <li>
        <a href="./404.hbs">404</a>
    </li>
    <li>
        <a href="./500.hbs">500</a>
    </li>
    <li>
        <a>Chat in progress</a>
    </li>
    <li>
        <a>Chatlist in progress</a>
    </li>
</ul>
